#include <stdio.h>
#include <conio.h>
/*this is a programe for calculating weekly Ehubs*/
void main()
{
clrscr();
int monday,tuesday;
int total;
printf("how many ehubs for monday");
scanf("%d" ,&monday);
printf("how many ehubs for tuesday");
scanf("%d",&tuesday);
total=monday+tuesday;
printf("%d" , total);
getch();
}
